<div class="w3-card col-md-4 mx-auto p-0 mt-5 mb-5" id="register">
    <form method="post">
        <header class="w3-container w3-green">
            <h3>CONNEXION</h3>
        </header>
        <div class="p-3 w3-container">
           <div class="w3-row w3-section">
                <div class="w3-rest">
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="w3-input" placeholder="Adresse email" required autofocus>
                </div>
            </div>
           <div class="w3-row w3-section">
                <div class="w3-rest">
                    <input type="password" name="password" id="inputPassword" class="w3-input" placeholder="************" required>
                </div>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="checkbox mb-3 mt-2">
                    <label>
                        <input class="w3-check" type="checkbox" name="_remember_me"> Garder ma section active
                    </label>
                </div>
            <div class="row">
                <div class="col-md-4"><button class="w3-btn w3-green btn-block" type="submit">CONNEXION</button></div>
                <div class="col-md-4 text-center"><a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a></div>
                <div class="col-md-4 text-center"><a href="{{ path('app_register') }}">Créer un compte</a></div>
            </div>
        </div>
    </form>    
</div>


<div class="w3-container">
    <div class="w3-row">

        <div class="w3-card w3-col s4">
                <header class="w3-container w3-blue">
            <h1>Header</h1>
            </header>

            <div class="w3-container">
            <p>Lorem ipsum...</p>
            </div>

            <footer class="w3-container w3-blue">
            <h5>Footer</h5>
            </footer>
        </div>
        <div class="w3-card w3-col s4">
            <header class="w3-container w3-blue">
        <h1>Header</h1>
        </header>

        <div class="w3-container">
            <p>Lorem ipsum...</p>
            </div>

            <footer class="w3-container w3-blue">
            <h5>Footer</h5>
            </footer>
        </div>
        <div class="w3-card w3-col s4">
                <header class="w3-container w3-blue">
            <h1>Header</h1>
            </header>

            <div class="w3-container">
            <p>Lorem ipsum...</p>
            </div>

            <footer class="w3-container w3-blue">
            <h5>Footer</h5>
            </footer>
        </div>
    </div>
</div>







<div class="w3-row-padding w3-padding-64 w3-border-bottom" id="work">
    <div class="container mb-5 fTextsize">
        <p>
            L’association Fest’yv Events s’est composée autour
            de 14 personnes issues du milieu associatif de
            Bennecourt et de la région.
        </p>
        <p>
            Imaginée autour de discussions lors de manifestations
            locales, elle se veut être une réponse à ces quelques
            questions :
        </p>
        <p>
            Comment créer un événement majeur à
            Bennecourt, fédérateur de tous les talents présents
            dans la commune ?
        </p>
        <p>
            Comment faire rayonner Bennecourt au delà de son
            bassin ?
            Avec quel sens social, culturel et environnemental ?
        </p>
        <p>
            Fest’yv Events a donc été créée en novembre 2019 et porte des valeurs que nous souhaiterions
            transmettre en croisant le monde rural avec un festival respectueux, moderne et familial.
        </p>
        <p>
            En préparation d’un tel évènement, nous avons décidé d’organiser dès maintenant plusieurs ateliers
            culture comme des ateliers d’écritures, des stages photos et vidéo… afin de donner de la visibilité
            à notre engagement.
        </p>
    </div>
    
    <div class="w3-quarter">
        <div class="w3-card">
            <h1 class="w3-lobster">Notre projet associatif</h1><br />
            <div class="w3-container w3-white">
                <img src="{{ asset('images/logo.png') }}" alt="Nos projets" style="width:100%; height: 100%">
            </div>
            <br /><br /><br />
        </div>
    </div>
    <div class="w3-quarter">
        <div class="w3-card w3-red">
            <img src="{{ asset('images/stage-ecriture.jpg') }}" alt="Atelier écriture" style="width:100%">
            <div class="w3-container w3-text-white">
                <h3>Atelier écriture</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
    </div>